
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/QuanLy/Views/Share/_LayoutQuanLy.cshtml";
}
@model X.PagedList.IPagedList<DoAnMonPhanTichPhanMem.Areas.GiamDoc.Models.LoaiCoSoVatChat>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@{
    var options = new PagedListRenderOptions()
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                UlElementClasses = new string[] { "pagination justify-content-center" }
            };
}
<style>
    .custom-bg-color {
        background-color: rgb(173,216,230);
    }
    .add-button {
        width: 110px;
        margin-bottom: 10px;
    }
    .custom-table {
        background-color: #3498db;
        color: #ffffff;
    }

    th {
        background-color: #39444e;
        color: white;
    }
    .cuns-container {
        border: 1px solid #ccc;
        padding: 11px;
        border-radius: 12px;
        background-color: snow;
    }
</style>
<div>
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="main-header">
                <h4>Loại Cơ Sở Vật Chất</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                    <li class="breadcrumb-item">
                        <a href="../DuyetDon/Index"><i class="icofont icofont-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="../LoaiCoSoVatChat/Index">Loại Cơ Sở Vật Chất</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="cuns-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-right mb-3" style="display: flex; justify-content: flex-end; align-items: flex-start;">
                    <form asp-action="DeleteAll" method="post" class="d-inline" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-broom"></i> Xóa Tất Cả</button>
                    </form>
                    <a asp-action="Create" asp-controller="LoaiCoSoVatChat" asp-area="QuanLy" class="btn btn-primary add-button" style="margin-left: 10px;"><i class="fas fa-plus"></i></a>
                </div>
                <div class="">
                    <table class="table table-striped table-hover ">
                        <thead class="">
                            <tr class="custom-table">
                                <th class="text-center">ID</th>
                                <th class="text-center">Tên Loại Cơ Sở Vật Chất</th>
                                <th class="text-center">Mô Tả</th>
                                <th class="text-center">Tác Vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (DoAnMonPhanTichPhanMem.Areas.GiamDoc.Models.LoaiCoSoVatChat LCSVC in Model)
                                {
                                    <tr>
                                        <td class="text-center">@LCSVC.maLoai</td>
                                        <td class="text-center">@LCSVC.tenLoai</td>
                                        <td class="text-center">
                                            <button class="btn btn-success" data-toggle="modal" data-target="#motaModal-@LCSVC.maLoai">
                                                <i class="fas fa-search"></i>   Xem Chi Tiết Mô Tả
                                            </button>
                                            <div class="modal fade" id="motaModal-@LCSVC.maLoai" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Mô Tả Thiết Bị</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                @Html.Raw(LCSVC.moTa)
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex align-items-center justify-content-end">
                                                <a asp-action="Update" asp-controller="LoaiCoSoVatChat" asp-route-id="@LCSVC.maLoai" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                                <form asp-action="Delete" asp-controller="LoaiCoSoVatChat" asp-route-id="@LCSVC.maLoai" method="post">
                                                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" style="color: pink;"></i></button>
                                                </form>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <div class="">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "LoaiCoSoVatChat", new { page = page }), options)
                </div>
            </div>
        </div>
    </div>
</div>

