
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/NhanVien/Views/Share/LayoutNhanVien.cshtml";
}

@model X.PagedList.IPagedList<DoAnMonPhanTichPhanMem.Areas.GiamDoc.Models.ThongTinCoSoVatChat>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@{
    var options = new PagedListRenderOptions()
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                UlElementClasses = new string[] { "pagination justify-content-center" }
            };
}
<style>
    .add-button {
        width: 110px;
        margin-bottom: 10px;
    }

    .custom-container {
        border: 1px solid #ccc;
        padding: 11px;
        border-radius: 12px;
        background-color: snow;
    }

    th {
        background-color: #39444e;
        color: white;
    }
    .custom-table {
        background-color: #3498db;
        color: #ffffff;
    }
</style>
<div>
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="main-header">
                <h4>Thông Tin Cơ Sở Vật Chất</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                    <li class="breadcrumb-item">
                        <a href="../DonMuon/Index"><i class="icofont icofont-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="../ThongTinCoSoVatChatNV/Index">Thông Tin Cơ Sở Vật Chất</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="custom-container">
        <div class="row">
            <div class="col-md-12">
                @*<div class="text-right mb-3">
                <a asp-action="Create" class="btn btn-primary add-button">Thêm</a>
                </div>*@
                <div class="Bangove">
                    <table class="table table-striped table-hover ">
                        <thead class="custom-bg-color">
                            <tr class="custom-table">
                                @*<th class="text-center">ID Thiết Bị</th>*@
                                <th class="text-center">Tên Thiết Bị</th>
                                <th class="text-center">Hình ảnh</th>
                                <th class="text-center">Tên Loại THiết Bị</th>
                                <th class="text-center">Tên Nhà Cung Cấp</th>
                                <th class="text-center">Số Lượng</th>
                                <th class="text-center">Trạng Thái</th>
                                <th class="text-center">Ngày Nhập</th>
                                <th class="text-center">Thông Số</th>
                                @*  <th class="text-center">Tác Vụ</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (DoAnMonPhanTichPhanMem.Areas.GiamDoc.Models.ThongTinCoSoVatChat TTCSVC in Model)
                                {
                                    <tr>
                                        @*<td class="text-center">@TTCSVC.maThietBi</td>*@
                                        <td class="text-center">@TTCSVC.tenThietBi</td>
                                        <td class="text-center">
                                            <button class="btn btn-success" data-toggle="modal" data-target="#GiamDocModal-@TTCSVC.maThietBi">
                                                <i class="fas fa-image"></i> Xem
                                            </button>
                                            <div class="modal fade" id="GiamDocModal-@TTCSVC.maThietBi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Hình Ảnh</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img alt="" src="@Url.Content($"~/Admin/Upload/{TTCSVC.hinhAnh}")" style="max-width: 100%; height: auto;" />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">@TTCSVC.loaiCoSoVatChat.tenLoai</td>
                                        <td class="text-center">@TTCSVC.nhaCungCap.tenNhaCungCap</td>
                                        <td class="text-center">@TTCSVC.soLuong</td>
                                        <td class="text-center">@TTCSVC.trangThai</td>
                                        <td class="text-center">@TTCSVC.ngayNhap</td>
                                        <td class="text-center">
                                            <button class="btn btn-success" data-toggle="modal" data-target="#motaModal-@TTCSVC.maThietBi">
                                                <i class="fas fa-search"></i>
                                            </button>
                                            <div class="modal fade" id="motaModal-@TTCSVC.maThietBi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Thông Số Thiết Bị</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                @Html.Raw(TTCSVC.thongSo)
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        @* <th class="text-center">
                                <div class="d-flex align-items-center justify-content-end">
                                <a asp-action="Update" asp-controller="ThongTinCoSoVatChatGD" asp-route-id="@TTCSVC.maThietBi" class="btn btn-primary">Sửa</a>
                                <form asp-action="Delete" asp-controller="ThongTinCoSoVatChatGD" asp-route-id="@TTCSVC.maThietBi" method="post">
                                <button type="submit" class="btn btn-danger">Xóa</button>
                                </form>
                                </div>
                                </th>*@

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "ThongTinCoSoVatChat", new { page = page }), options)
                </div>
            </div>
        </div>
    </div>
</div>

