
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/GiamDoc/Views/Share/_LayoutAdmin.cshtml";
}
@model X.PagedList.IPagedList<DoAnMonPhanTichPhanMem.Areas.GiamDoc.Models.Users>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@{
    var options = new PagedListRenderOptions()
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                UlElementClasses = new string[] { "pagination justify-content-center" }
            };
}
<style>
    .custom-bg-color {
        background-color: rgb(173,216,230);
    }

    .add-button {
        width: 110px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    th {
        background-color: #39444e;
        color: white;
    }
    .custom-table {
        color: #ffffff;
    }
    .cuns-container{
        border: 1px solid #ccc;
        padding: 11px;
        border-radius: 12px;
        background-color: snow;
    }
</style>
<div>
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="main-header">
                <h4>Users</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                    <li class="breadcrumb-item">
                        <a href="../ThongKe/Index"><i class="icofont icofont-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="../Users/Index">Users</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="cuns-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-right mb-3" style="display: flex; justify-content: flex-end; align-items: flex-start;">
                    <form asp-action="DeleteAll" method="post" class="d-inline" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-broom"></i> Xóa Tất Cả</button>
                    </form>
                    <a asp-action="Create" class="btn btn-primary add-button" style="margin-left: 10px;"><i class="fas fa-plus"></i></a>
                </div>
                <div class="Bangove">
                    <table class="table table-striped table-hover ">
                        <thead class="">
                            <tr class="custom-table">
                                @* <th class="text-center">Mã Nhà Cung Cấp</th>*@
                                <th class="text-center">Tên Nhân Viên</th>
                                <th class="text-center">Giới Tính</th>
                                <th class="text-center">Ngày Sinh</th>
                                <th class="text-center">CMND_CCCD</th>
                                <th class="text-center">Số Điện Thoại</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Chức Vụ</th>
                                <th class="text-center">Địa Chỉ</th>
                                <th class="text-center">Tác Dụng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (DoAnMonPhanTichPhanMem.Areas.GiamDoc.Models.Users US in Model)
                                {
                                    <tr>
                                        <td class="text-center">@US.tenNguoiDung</td>
                                        <td class="text-center">@US.gioiTinh</td>
                                        <td class="text-center">@US.ngaySinh.ToString("dd-MM-yyyy")</td>
                                        <td class="text-center">@US.CMND_CCCD</td>
                                        <td class="text-center">@US.soDienThoai</td>
                                        <td class="text-center">@US.email</td>
                                        <td class="text-center">@US.vaiTro</td>
                                        <td class="text-center">
                                            <button class="btn btn-success" data-toggle="modal" data-target="#NguoiDungModall-@US.maNguoiDung">
                                                <i class="fas fa-search"></i>  Xem
                                            </button>
                                            <div class="modal fade" id="NguoiDungModall-@US.maNguoiDung" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Địa Chỉ</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                @Html.Raw(US.diaChi)
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                                            <a asp-action="Update" asp-controller="Usres" asp-route-id="@US.maNguoiDung" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                            <form asp-action="Delete" asp-route-id="@US.maNguoiDung">
                                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" style="color: pink;"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "Users", new { page = page }), options)
                </div>
            </div>
        </div>
    </div>
</div>




