
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/NhanVien/Views/Share/LayoutNhanVien.cshtml";
}

@model X.PagedList.IPagedList<DoAnMonPhanTichPhanMem.Areas.GiamDoc.Models.ChiTietDonMuon>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@{
    var options = new PagedListRenderOptions()
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                UlElementClasses = new string[] { "pagination justify-content-center" }
            };
}
<style>
    .custom-bg-color {
        background-color: rgb(173,216,230);
    }

    .add-button {
        width: 110px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    th {
        background-color: #39444e;
        color: white;
    }
    .custom-container {
        border: 1px solid #ccc;
        padding: 11px;
        border-radius: 12px;
        background-color: snow;
    }
    .custom-table {
        background-color: #3498db;
        color: #ffffff;
    }
</style>
<div>
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="main-header">
                <h4>Loại Cơ Sở Vật Chất</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                    <li class="breadcrumb-item">
                        <a href="../DuyetDon/Index"><i class="icofont icofont-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="../ChiTietDonMuon/Index">Chi Tiết Đơn Mượn</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="custom-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-right mb-3" style="display: flex; justify-content: flex-end; align-items: flex-start;">
                    <form asp-action="DeleteAll" method="post" class="d-inline" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-danger">Xóa Tất Cả</button>
                    </form>
                </div>
                <div class="Bangove">
                    <table class="table table-striped table-hover ">
                        <thead class="">
                            <tr class="custom-table">
                                @* <th class="text-center">Mã Nhà Cung Cấp</th>*@

                                <th class="text-center">Tên Thiết Bị Mượn</th>
                                <th class="text-center">Số Lượng Mượn</th>
                                @*<th class="text-center">Mục Đích Sử Dụng</th>*@
                                <th class="text-center">Ngày Tar Dự Kiến</th>
                                <th class="text-center">Ngày Trả Thực Tế</th>
                                <th class="text-center">Trạng Thái</th>
                                <th class="text-center">Thông Tin về Người Lâp Đơn</th>
                                <th class="text-center">Chức Năng</th>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (DoAnMonPhanTichPhanMem.Areas.GiamDoc.Models.ChiTietDonMuon CTDM in Model)
                                {
                                    <tr>
                                        <td class="text-center">@CTDM.thongTinCoSoVatChat.tenThietBi</td>
                                        <td class="text-center">@CTDM.soLuongMuon</td>
                                        <td class="text-center">@CTDM.ngayTraDuKien</td>
                                        <td class="text-center">@CTDM.ngayTraThucTe</td>
                                        <td class="text-center">@CTDM.trangThai</td>
                                        <td class="text-center">
                                            <button class="btn btn-success" data-toggle="modal" data-target="#diachiModall-@CTDM.maChiTietDonMuon">
                                                Xem Chi Tiết
                                            </button>
                                            <div class="modal fade" id="diachiModall-@CTDM.maChiTietDonMuon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Thông Tin Người Mượn</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body Bangove">
                                                            <table class="table table-bordered">
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">Họ và Tên lập Đơn</th>
                                                                        <td>@CTDM.donMuon.hoVaTen</td>
                                                                    </tr>
                                                                    <tr>
                                                                         <th scope="row">Số Điện Thoại</th>
                                                                        <td>@CTDM.donMuon.soDienThoai</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <th scope="row">Email</th>
                                                                        <td>@CTDM.donMuon.email</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <th scope="row">Ngày Mượn</th>
                                                                        <td>@CTDM.donMuon.ngayMuon</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <th scope="row">Mục Đích Mượn</th>
                                                                        <td>@CTDM.donMuon.mucDich</td>
                                                                    </tr>
                                                                        @*   <th scope="row">Họ Và Tên người Mượn</th>
                                                                <td>@CTDM.donMuon.nguoiMuon.hoVaTen</td>
                                                                <th scope="row">Số Điện thoại</th>
                                                                <td>@CTDM.donMuon.nguoiMuon.soDienThoai</td>*@
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                                            <form asp-action="Delete" asp-route-id="@CTDM.maDonMuon">
                                                <button type="submit" class="btn btn-danger">Xóa</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "ChiTietDonMuon", new { page = page }), options)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#soanDonForm').submit(function (e) {
            e.preventDefault();

            var hoTen = $('#hoTen').val();
            var soDienThoai = $('#soDienThoai').val();
            var eMail = $('#eMail').val();
            var maThietBi = $('#maThietBi').val();
            var tenThietBi = $('#tenThietBi').val();
            var soLuongMuon = $('#soLuongMuon').val();
            var mucDichMuon = $('#mucDichMuon').val();
            var ngayMuon = $('#ngayMuon').val();
            var ngayTraDuKien = $('#ngayTraDuKien').val();


            $('#soanDonModal').modal('hide');
        });
    });
</script>

